<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868478025792-0l3sqknaip9h47d13lqngo2t72cajahj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868478025792-0l3sqknaip9h47d13lqngo2t72cajahj</string>
	<key>API_KEY</key>
	<string>AIzaSyCqSriTCmAOCmcVC_KIQAN09Z3kvBfoFFw</string>
	<key>GCM_SENDER_ID</key>
	<string>868478025792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TMSIOS.TChat</string>
	<key>PROJECT_ID</key>
	<string>tchat-8865f</string>
	<key>STORAGE_BUCKET</key>
	<string>tchat-8865f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868478025792:ios:7110e3b26c6b7cc88e1fa5</string>
</dict>
</plist>